<section class="w3l-call-to-action_9">
    <div class="call-w3">
        <div class="container">
            <div class="booking-form-content">
                <div class="main-titles-head ">
                    <h3 class="header-name">
                        En İyi Tatili Uzmanlar Tarafından Planlayın!
                    </h3>
                    <p class="tiltle-para editContent ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga sit illo modi aut aspernatur tempore laboriosam saepe dolores eveniet.</p>
                </div>
                <form method="post" class="booking-form">
                    <div class="row book-form">
                        <div class="form-input col-md-4">
                            <label>Ad Soyad</label>
                            <input type="text" name="CustomerName" placeholder="Ad Soyad" required="">
                        </div>
                        <div class="form-input col-md-4">
                            <label>Mail Adresi</label>
                            <input type="text" name="Mail" placeholder="Mail Adresi" required="">
                        </div>
                        <div class="form-input col-md-4">
                            <label>Rotalar</label>
                            <select name="Destination" class="selectpicker">
                                <option value="Hepsi">Hepsi</option>
                                <option value="Afrika">Afrika</option>
                                <option value="Amerika">Amerika</option>
                                <option value="Asya">Asya</option>
                                <option value="Doğu Avrupa">Doğu Avrupa</option>
                                <option value="Avrupa">Avrupa</option>
                                <option value="Güney Amerika">Güney Amerika</option>
                            </select>
                        </div>
                       
                        <div class="form-input col-md-4 mt-3">

                            <label>S]re</label>
                            <select name="BookingStatus" class="selectpicker">
                                <option value="">Hepsi</option>
                                <option value="1 Günlük Tur">1 Günlük Tur</option>
                                <option value="2-4 Günlük Tur">2-4 Günlük Tur</option>
                                <option value="5-7 Günlük Tur">5-7 Günlük Tur</option>
                                <option value="7+ Günlük Tur">7+ Günlük Tur</option>
                            </select>

                        </div>
                        <div class="form-input col-md-4 mt-3">
                            <label>Tarih</label>
                            <input type="date" name="BookingDate" placeholder="Tarih" required="">
                        </div>
                        <div class="bottom-btn col-md-4 mt-3">
                            <label>Submit</label>
                            <button class="btn btn-style btn-primary w-100 btn-style">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

