@model List<Casgem_CodeFirstProject.DAL.Entities.Client>

@foreach (var item in ViewBag.client)
{
    <section class="w3l-clients" id="client" style="background: url(@item.ClientImageUrl);background-repeat: no-repeat; background-position: center;   background-size: cover;">
        <div class="call-w3">
            <div class="container text-center">
                <div class="title-head">
                    <h3>@item.ClientTitle</h3>
                    <p>@item.ClientDescription</p>
                    <a class="btn btn-theme2 mt-lg-5 mt-4" href="/Contact/Index/">Seyahatinizi Ayırtın</a>
                </div>
            </div>
        </div>
    </section>
}