@model List<Casgem_CodeFirstProject.DAL.Entities.ServiceOuterService>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hizmetler Sayfası Dış Servis İşlemleri</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Resim</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.ImageUrl</td>
            <td><a href="/AdminServiceOuterService/UpdateService/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
            <td><a href="/AdminServiceOuterService/DeleteService/@item.Id" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>

<a href="/AdminServiceOuterService/AddService/" class="btn btn-outline-primary">Yeni Servis Ekle</a>

