@model Casgem_CodeFirstProject.DAL.Entities.AboutThirdBlog

@{
    ViewBag.Title = "AddBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Ekleme Sayfası</h2>

<form method="post">
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Fotoğraf</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Blog Kaydet</button>
    <a href="/AdminAboutThirdBlog/Index/" class="btn btn-secondary">Değişikliklerden Vazgeç</a>
</form>


