@model List<Casgem_CodeFirstProject.DAL.Entities.AboutThirdBlog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Sayfası Üçüncü Blog Kısmı İşlemleri</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Resim</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.ImageUrl</td>
            <td><a href="/AdminAboutThirdBlog/UpdateBlog/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
            <td><a href="/AdminAboutThirdBlog/DeleteBlog/@item.Id" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>
@if (ViewBag.countBlog == 0)
{
    <a href="/AdminAboutThirdBlog/AddBlog" class="btn btn-outline-primary">Yeni Blog Ekle</a>
}

