@model Casgem_CodeFirstProject.DAL.Entities.Explore

@{
    ViewBag.Title = "AddExplore";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Keşfet Kısmı Ekleme Sayfası</h2>

<form method="post">
    <label>Küçük Başlık</label>
    @Html.TextBoxFor(x => x.SmallTitle, new { @class = "form-control" })
    <br />
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Fotoğraf</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Keşfet Kaydet</button>
    <a href="/AdminExplore/Index/" class="btn btn-secondary">Değişikliklerden Vazgeç</a>
</form>

